Binaries*
DerivedDataCache/*
DerivedData/*
Intermediate/*
Saved/*
ThirdParty/BulletPhysics/*
ThirdParty/CubicFineParticle/Includes/*
ThirdParty/CubicFineParticle/Libraries/*
*.xcworkspace
*.sln
*.pro*
*.VC.*
.vc/*
*.pyc
*.gnuplot
*.png
*.pov
*.data
*.log
*.mov
*.mp4
ThirdParty/CubicFineParticle/src/bin
ThirdParty/CubicFineParticle/src/lib
ThirdParty/CubicFineParticle/src/build
ThirdParty/CubicFineParticle/src/doc
